@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  position: relative;
}

@layer base {
  .scrollbar-none {
    scrollbar-width: none;
  }
  .gradient-btn {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
  }
}
